<div class="sfondo">
<div class="padre">
  <img class="t" src="../assets/img/pokedex (1).png" alt="">
  <div class="p"> <img [src]="pokemon.url" alt=""> </div>
  <div class="nome" [innerText]="pokemon.name"></div>
  <div class="inp">
    <input (ngModelChange)="onModelloModificato($event)"  [(ngModel)]="cerca" type="text">
  </div>
  <button (click)="prev()" class="prev">prev</button>
  <button (click)="next()" class="next">next</button>
</div>
<!-- (ngModelChange)="onModelloModificato()" -->

</div>
