/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.padre{
position: relative;

}
.p img{
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  /* width: 200px;
  margin-left: 90px;
  display: flex;
  justify-content: center; */


}
.p img{
  width: 11rem;
  /* background-color: blue; */
}
.inp{
  position: absolute;
  bottom: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
}
input{
  width: 17rem;
  height: 3rem;
border-radius: 1rem;
padding: 0 2rem;
border: 0;
font-size: 2rem;
text-transform: uppercase;
}
input:focus{
 outline: none;
}
.nome{
  position: absolute;
  width: 180px;
  overflow-x: auto;
  top: 57%;
  left: 60%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
.prev{
  position: absolute;
  bottom: 10%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 0.7rem 2rem;
}
.next{
  position: absolute;
  bottom: 10%;
  right: 13%;
  transform: translate(-50%, -50%);
  padding: 0.7rem 2rem;
}
